@media (max-width: 768px) {
  header, .main, .section-1, .section-2, .footer {
      width: 480px;
  }

  .header__navbar__ul {
      display: none;
  }

  .header__brand {
      padding-left: 50px;
  }

  .header__navbar__burger {
      display: block;
      margin-right:50px;
  }

  .main {
      background-image: url(../assets/mobile/Frame\ 28.svg), url(../assets/mobile/Frame\ 24.png);
      background-position-x: -15px, center;
      background-position-y: -15px, center;
      animation: bgchange 4s infinite alternate;
  }

  @keyframes bgchange {

      100% {
          background-image:  url(../assets/mobile/Frame\ 28.svg), url(../assets/mobile/Frame\ 29.png);
          background-position: center, center;
      }

  }

  .section-1 h2 {
      margin-top: 65px;
  }

  .section-1 {
      height: 889px;
  }

  .section-1__text{
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.section-1__text div{
  width:80%;
}
.col-1, .col-2{
  margin-right:0;
}

.footer{
  display: Flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  padding-top: 58px;
  padding-bottom: 75px;
  text-align:center;
  justify-content: center;
  align-items:Center;
}

.footer__col-1, .footer__col-2, .footer__col-3{
  padding:0;
  margin:o;
  text-align:center;
}
.footer__col-3{
  padding-top:19px;
}
.footer__col-2{
  padding-top:18px;
}
.logo-project{
  padding-top:0;
  padding-bottom:31px;
  justify-content: center;
}
.section-2 button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px
}
.section-2 button i{
  font-size:50px;
}


}