:root {
  --primaryColor:#464547;
  --secondaryColor:#ffffff;
  --FooterBgColor:#464547;
  --bodyColor:#eeee;
  --difColor:rgba(255,255,255,0.7);
  --buttonColor:#55C2D8;
  --someColor:#666666;
}

@font-face {
  font-family: "OSWALD", sans-serif;
  src: url(../fonts/Oswald/Oswald-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Spirce Sans Pro";
  src: url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--bodyColor);
  color: var(--primaryColor);
  font-size: 100%;
  font-style: normal;
}

ul, li, a {
  text-decoration: none;
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  color: var(--secondaryColor);
}

.header, .main, .section-1, .section-2, .footer {
  margin: 0 auto;
  width: 1200px;
}

h1, h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  line-height: 64px;
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
}

h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  color: var(--someColor);
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}

.header > a {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.1em;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  height: 106px;
}
.header__brand {
  color: var(--secondaryColor);
}
.header__navbar {
  display: flex;
}
.header__navbar .nav {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .header__navbar .nav {
    visibility: hidden;
  }
}
.header__navbar .nav__item {
  margin-right: 30px;
  position: relative;
  padding: 5px;
  color: var(--secondaryColor);
}
.header__navbar .nav__item::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-in-out;
}
.header__navbar .nav__item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}
.header__burger {
  display: none;
}
@media (max-width: 768px) {
  .header__burger {
    display: block;
  }
}

.main {
  height: 822px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: -106px;
  background-image: url(../assets/desktop/Frame\ 32.svg), url(../assets/desktop/Frame\ 30.png);
  background-position-x: -30px, center;
  background-position-y: -20px, center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: 4s bgchange infinite alternate;
}
@keyframes bgchange {
  100% {
    background-image: url(../assets/desktop/Frame\ 32.svg), url(../assets/desktop/Frame\ 31.png);
    background-position: center, center;
  }
}
.main__logo {
  transition: all 0.5s;
}
.main__logo:hover {
  transform: rotateY(180deg) scale(1.5);
}
.main__h3 {
  color: var(--secondaryColor);
  margin-top: 22px;
}
.main__h2 {
  color: var(--secondaryColor);
  margin-top: 13px;
}

.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-1__title {
  margin-top: 88px;
  margin-bottom: 0;
  color: var(--primaryColor);
}
.section-1__subTitle {
  margin-top: 20px;
}
.section-1 .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  max-width: 1000px;
  gap: 40px;
}
@media (max-width: 768px) {
  .section-1 .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}
.section-1 .grid__left, .section-1 .grid__right {
  padding: 30px;
  text-align: justify;
}
.section-1__button {
  margin-top: 46px;
  margin-bottom: 46px;
  background-color: var(--buttonColor);
  width: 115px;
  height: 36px;
  border-radius: 18px;
  font-family: "Oswald", sans-serif;
  color: var(--secondaryColor);
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.1em;
  border: var(--buttonColor);
  text-transform: uppercase;
  transition: all 1s 0.5s;
  transform-origin: left;
}
.section-1__button:hover {
  transform: rotate(15deg);
}

.section-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  width: 1200px;
  height: 666px;
  position: relative;
  background-image: url(../assets/video-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}
.section-2__title {
  color: var(--secondaryColor);
}
.section-2 .btn {
  width: 150px;
  height: 150px;
  transition: all 1s;
  background-color: var(--buttonColor);
  border: 1px solid var(--buttonColor);
  color: var(--secondaryColor);
  border-radius: 50%;
  margin: 0;
}
.section-2 .btn:hover {
  scale: 1.05;
  background-color: var(--secondaryColor);
}
.section-2 .btn__span {
  font-size: 70px;
  padding-left: 23px;
  transition: all 1s;
}
.section-2 .btn__span:hover {
  color: var(--buttonColor);
}
.section-2__subtitle {
  color: var(--secondaryColor);
}

.footer .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 30px;
  background-color: var(--FooterBgColor);
  margin: 0 auto;
  padding: 50px 100px;
  color: var(--secondaryColor);
  grid-template-rows: auto auto;
}
@media (max-width: 768px) {
  .footer .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .footer .grid__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: Center;
  }
  .footer .grid__item--contact {
    text-align: center;
    opacity: 0.4;
  }
}
.footer .grid__img {
  width: 20px;
}
.footer .grid__link {
  margin-left: 16px;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 16px;
  font-size: 18px;
  color: var(--secondaryColor);
}
.footer .grid__item {
  display: flex;
  align-items: start;
}
.footer .grid__item--contact {
  flex-flow: column wrap;
  align-items: start;
  opacity: 0.4;
}
.footer .grid__item--copyright {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  opacity: 0.4;
}