@mixin rowCenter{
    display:flex;
    align-items:center;
}

@mixin colCenter{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-content:center;
    align-items:center;
}

@mixin positionD{
  background-position-x: -30px, center;
  background-position-y:-20px, center;
  background-repeat:no-repeat;
  background-size: cover;

}

@mixin positionM{
    background-position-x: -15px, center;
    background-position-y: -15px, center;
}

@mixin btn{
    .btn{
        width:150px;
        height:150px;
        transition:all 1s;
        background-color: var(--buttonColor);
        border:1px solid var(--buttonColor);
        color:var(--secondaryColor);
        border-radius:50%;
        margin:0;
    
        &:hover{
          scale: 1.05;
          background-color: var(--secondaryColor);
        }
        &__span{
          font-size:70px;
          padding-left:23px;
          transition:all 1s;
          
          &:hover{
            color:var(--buttonColor);        
          }
        }    
      }
}