 .footer{
    .grid{
      display:grid;
      grid-template-columns: 1fr 1fr 2fr;
      gap:30px;
      background-color:var(--FooterBgColor);
      margin:0 auto;
      padding:50px 100px;
      color:var(--secondaryColor);
      grid-template-rows: auto auto;

      @media (max-width:768px){
        grid-template-columns: 1fr;
        grid-template-rows: auto;   
        &__item{
          display:flex;
          flex-direction:row;
          flex-wrap:wrap;
          justify-content: center;
          text-align:Center;

           &--contact{
        
            text-align:center;
            opacity:0.4;
          }
        } 
      }

      &__img{
        width: 20px;
      }
      &__link{
        margin-left: 16px;
      text-transform: uppercase;
      font-family:$fontPrimary;
      font-weight: 400;
      line-height: 16px;
      font-size: 18px;
      color:var(--secondaryColor);
      }
&__item{
  display:flex;
  align-items:start;
          &--contact{
            flex-flow:column wrap;
            align-items:start;
            opacity:0.4;
          }

          &--copyright{  
            display:flex;
   flex-direction:column;
    justify-content: end;
    align-items: center;
            opacity:0.4;
          }
        }
  }
  
}