@import '../mixins/mixins';

.header{

  @include rowCenter;
  justify-content: space-evenly;
  margin:0 auto;
  height:106px;

  &__brand{
    color:var(--secondaryColor);
  }

  &__navbar{
    display:flex;
    .nav{
      @include rowCenter;
      @media (max-width:768px){
  
          visibility:hidden;
      }  
     
      &__item{
        margin-right:30px;
        position:relative;
        padding:5px;
        color:(var(--secondaryColor));
        &::after{
          content:'';
          position:absolute;
          width:100%;
          transform:scaleX(0);
          height:2px;
          bottom:0;
          left:0;
          background-color:#ffffff;
          transform-origin:bottom right;
          transition:transform 0.25s ease-in-out;
      }
      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom center;
    }   
    
  }
    }
  }
  &__burger{
    display:none;
    @media (max-width:768px){
       display:block;

    }  
  }
}