@import '../mixins/mixins';

.main{
  height:822px;
  @include colCenter;
  margin-top:-106px;
  background-image:$bgInitial;
  @include positionD;
  animation:4s bgchange infinite alternate;

  
  &__logo{
    transition:all 0.5s;
    &:hover{
      transform:rotateY(180deg) scale(1.5);
    }
  }
  &__h3{
    color:var(--secondaryColor);
    margin-top:22px;
  }
  &__h2{
    color:var(--secondaryColor);
    margin-top:13px;
  }
}