.nav-items{
  padding-right:397px;
  display:Flex;
  align-items:center;

  &__li:first-child{
    margin-right:28px;
    position:relative;
    padding:5px;
    color:(var(--secondaryColor));
  }
  &__li:nth-child(2){
    margin-right:30px;
  }
  &__li:nth-child(3){
    margin-right:30px;        
  }
}

