.section-2{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:space-evenly;
  align-content:center;
  width:1200px;
  height:666px;
  position:relative;
  background-image:$videoImg;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;

  &__title{
    color:var(--secondaryColor);
  }
  @include btn;
  &__subtitle{
    color:var(--secondaryColor);
  }

}