.section-1{  
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;    
  &__title{
    margin-top:88px;
    margin-bottom:0;
    color:var(--primaryColor);
  }
  &__subTitle{
    margin-top:20px;
  }

  .grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto;
    max-width:1000px;
   
    gap:40px;

    @media (max-width:768px){
      grid-template-columns:1fr;
      grid-template-rows:auto auto;  
  }
  
  &__left, &__right{
    padding:30px;
    text-align: justify;
  }
}    
    
&__button{
    margin-top: 46px;
    margin-bottom:46px;
    background-color:var(--buttonColor);
    width: 115px;
    height: 36px;
    border-radius: 18px;
    font-family:$fontSecondary;
    color:var(--secondaryColor);
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1em;
    border:var(--buttonColor);
    text-transform: uppercase;
    transition: all 1s 0.5s;
    transform-origin: left;

   &:hover {
      transform: rotate(15deg);
  }
}

}