@import '_colors.scss';
@import '_fonts.scss';
@import '_variables.scss';

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:$fontPrimary;
  background-color:var(--bodyColor);
  color:(var(--primaryColor));
  font-size:100%;
  font-style: normal;
}

ul,li,a{
  text-decoration:none;
  list-style-type:none;   
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;  
  color:var(--secondaryColor);
}

//$length:1200px;
//$margins:50px;

.header, .main, .section-1, .section-2, .footer{
  //max-width:1200px;
  margin:0 auto;
  width:1200px;
}

h1, h2{
  font-family:$fontSecondary;
  font-weight:700;
  line-height:64px;
  font-size:48px;
  text-align:center;
  margin-bottom:20px;
  margin-top:0;
}
/*h1{
  color:var(--secondaryColor)
}*/
h3{
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  color:var(--someColor);

}
p{
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}

.header > a{
//  padding-left: 152px;
    text-transform: uppercase;   
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.1em;
  
}