@font-face {
  font-family: 'OSWALD', sans-serif;
  src: url(../fonts/Oswald/Oswald-VariableFont_wght.ttf);
}
@font-face{
  font-family: 'Spirce Sans Pro';
  src:url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}


