$fontPrimary:'Source Sans Pro', sans-serif;
$fontSecondary:'Oswald', sans-serif;

$bgInitial:url(../assets/desktop/Frame\ 32.svg), url(../assets/desktop/Frame\ 30.png);
$bgChange:url(../assets/desktop/Frame\ 32.svg), url(../assets/desktop/Frame\ 31.png);

$videoImg:url(../assets/video-img.png);

$bgInitialM:url(../assets/m-animation/Frame\ 28.svg), url(../assets/m-animation/Frame\ 24.png);
$bgChangeM:url(../assets/m-animation/Frame\ 28.svg), url(../assets/m-animation/Frame\ 29.png);